<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softbankrobotics.qisdktutorials">

    <uses-feature android:name="com.softbank.hardware.pepper" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.categories.CategoriesActivity" />
        <activity android:name=".ui.tutorials.autonomousabilities.AutonomousAbilitiesTutorialActivity" />
        <activity android:name=".ui.tutorials.conversation.bookmarks.BookmarksTutorialActivity" />
        <activity android:name=".ui.tutorials.conversation.dynamicconcepts.DynamicConceptsTutorialActivity" />
        <activity android:name=".ui.tutorials.conversation.execute.ExecuteTutorialActivity" />
        <activity android:name=".ui.tutorials.conversation.listen.ListenTutorialActivity" />
        <activity android:name=".ui.tutorials.conversation.qichatbot.QiChatbotTutorialActivity" />
        <activity android:name=".ui.tutorials.conversation.qichatvariables.QiChatVariablesTutorialActivity" />
        <activity android:name=".ui.tutorials.gettingstarted.HelloHumanTutorialActivity" />
        <activity android:name=".ui.tutorials.motion.animate.AnimateTutorialActivity" />
        <activity android:name=".ui.tutorials.motion.animationlabels.AnimationLabelActivity" />
        <activity android:name=".ui.tutorials.motion.attachedframes.FollowHumanTutorialActivity" />
        <activity android:name=".ui.tutorials.motion.enforcetabletreachability.EnforceTabletReachabilityTutorialActivity" />
        <activity android:name=".ui.tutorials.motion.freeframes.GoToWorldTutorialActivity" />
        <activity android:name=".ui.tutorials.motion.gotoframe.GoToTutorialActivity" />
        <activity android:name=".ui.tutorials.motion.lookat.LookAtTutorialActivity" />
        <activity android:name=".ui.tutorials.motion.trajectory.TrajectoryTutorialActivity" />
        <activity android:name=".ui.tutorials.perceptions.emotiondetection.EmotionTutorialActivity" />
        <activity android:name=".ui.tutorials.perceptions.humanawareness.PeopleCharacteristicsTutorialActivity" />
        <activity android:name=".ui.tutorials.perceptions.takepicture.TakePictureTutorialActivity" />
        <activity android:name=".ui.tutorials.perceptions.touch.TouchTutorialActivity" />
        <activity android:name=".ui.tutorials.perceptions.detecthumanswithlocalization.DetectHumansWithLocalizationTutorialActivity" />
        <activity android:name=".ui.tutorials.conversation.chatlocale.ChatLocaleTutorialActivity" />
        <activity android:name=".ui.tutorials.perceptions.explorationmaprepresentation.ExplorationMapRepresentationTutorialActivity"/>
    </application>

</manifest>